*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
}
body{
 background-color: #fff;

;
}
.nav{
  width: 100%;
  height:100px;
  background-color: black;
  display: flex;
  align-items: center;
  padding:20px;
  position:fixed;
  top:0;
 
}
.nav .logo{
  height: 150px;
  position: relative;
  top: -9px;
}
.nav .menu-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: 30px;
  
}
.nav .menu-item {
  display: flex;
  align-items: center;
 
}
.nav .menu-item .item{
  display: inline-block;
  margin-right: 20px;
  margin-left: 15px;


}
.nav .menu-item .item a{
  text-decoration: none;
  color: #fff;
}
.nav .menu-container .account-candidate{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 160px;
  height: inherit;
  background-color: #353535;
  padding: 5px;
  border-radius: 15px;
  padding:5px 20px;

  

}
.nav .menu-container .account-candidate .avatar{
  width: 50px;
  border-radius: 100%;
}
.nav .menu-container .account-candidate .avatar img{
  width: 50px;
  border-radius: 100%;
}
.nav .menu-container .account-candidate .name-account {
  color: #fff;
  text-align: center;
}
/* Dropdown Menu */
.menu {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 20px;
}
.menu-item:not(:first-child) {
  margin-left: 15px;
}
.menu-link {
  text-decoration: none;
  color: #fff;
}
.menu-item.has-child {
  position: relative;
}
.menu-item.has-child:hover .menu-child {
  opacity: 1;
  visibility: visible;
}
.menu-child {
  --top-space: 20px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.2s ease;
  list-style: none;
  transform: translateY(var(--top-space));
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}
.menu-child:before {
  content: "";
  height: var(--top-space);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  opacity: 0;
  transform: translateY(-100%);
}
.menu-child {
  border: 1px solid #eee;
  min-width: 250px;
}
.menu-child-link {
  display: block;
  padding: 15px;
  text-decoration: none;
  border-bottom: 1px solid #eee;
  color: #333;
}
/* ----------------------------------- */
.baoboc{
  width:100%;
  height:100%;
  margin-top:120px;

  
}
.main-content{
    width: 85%;
    height: 100%;
    margin: 20px auto;
    background-color:#fff;

    border-radius:15px;
    padding:15px;
    /* overflow-y: scroll; */

    

 
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
/* .main-content::-webkit-scrollbar{
  overflow: scroll;
} */

.main-content .newsH1 {
  border-bottom: 1px solid #0c0c0c31;
  display:flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 20px;
}
.main-content .newsH1 h1{
    display: inline-block;
    color: white;
    
    background-color:black;
    padding: 3px 10px;
    border-radius: 20px;
    margin-bottom: 30px;
}
.main-content .list-job{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100vh;
    overflow-y: scroll;
}
.main-content .list-job::-webkit-scrollbar{
  overflow: scroll;
} 
.main-content .tag-job-detail{
    width: 200px;
    height:270px;
    background-color:rgba(255, 255, 255, 0.63);
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
   
}

.main-content .tag-job-detail{
  transition: color 0.25s;
}
.main-content .tag-job-detail::before,   .main-content .tag-job-detail::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.main-content .tag-job-detail::before {
  top: 0;
  left: 0;
}
.main-content .tag-job-detail::after {
  bottom: 0;
  right: 0;
}
.main-content .tag-job-detail:hover {
  color: #0eb7da;
}
.main-content .tag-job-detail:hover::before,  .main-content .tag-job-detail:hover::after {
  width: 100%;
  height: 100%;
}
.main-content .tag-job-detail:hover::before {
  border-top-color: #0eb7da;
  border-right-color: #0eb7da;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.main-content .tag-job-detail:hover::after {
  border-bottom-color: #0eb7da;
  border-left-color: #0eb7da;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}
.main-content .tag-job-detail .img-company-logo{
  width:200px;
  height:115px;
  display: flex;
  justify-content:center;
  
  
}
.main-content .tag-job-detail .img-company-logo img{
    width:175px;
    height:115px;
    border-radius: 15px;
}
.main-content .tag-job-detail h4{
    font-size:14px;
    margin-top: 10px;
    text-align: center;
}
.main-content .tag-job-detail .job-benefit{
    margin-top: 10px;
}
.main-content .tag-job-detail .job-benefit li{
    font-size: 13px;
    list-style: none;
}
footer{
  width: 100%;
  background-color: black;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-top: 1px solid #fff;
  padding: 20px 20px;




}
footer .footer-item h1 {
  color: white;
  font-size: 15px;
 
 
  
}
footer .footer-item ul li{
  list-style: none;
}
footer .footer-item ul li a {
  color: white;
  font-size: 12px;
  text-decoration: none;
 
 
  
}