*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    
}
body{
    font-family: "Poppins",sans-serif;
}
.navigation{
    width: 100%;
    height:100px;
    background-color: black;
    display: flex;
    align-items: center;
    padding:20px;
    position:fixed;
    top:0;
    z-index:10000;
    justify-content:space-between;
}
.navigation .logo{
    position: relative;
    top:-10px
}
.navigation .menu-item {
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.navigation .menu-item ul li box-icon{
    color: white;
}
.navigation .menu-item ul li{
    color:#fff;
    margin-right: 30px;
    cursor: pointer;
}
.navigation .menu-item ul li #link{
text-decoration: none;
color:white;
}
.navigation .menu-item ul .item{
    color: white;
    margin-right: 10px;
    list-style:none;
}
.navigation .menu-item ul .item .linking_Login{
    text-decoration: none;
    color:black ;
    display:inline-block;
    background-color:white;
    border: 1px solid white;
    padding: 5px 20px;
    border-radius: 15px;
}
.navigation .menu-item ul .item .linking_register{
    text-decoration: none;
    color:white ;
    display:inline-block;
    background-color:black;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 15px;
}

.navigation .menu-item ul {
    display: flex;
}
.main {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    padding:30px;

}
.main .col1{
    flex-basis: 50%;
    background-color:white;
    height:100vh;
    padding: 10px;
}
.main .col1 .col1-content{
    padding: 20px;
    background-color:white;
    position: relative;
    top:50%;
    transform: translateY(-50%)
}
.main .col1 .col1-content div h4{
    color:#00bf7f;
    font-size:25px;
}
.main .col1 .col1-content div {
    margin-bottom: 15px;
}
.main .col1 .col1-content div h1{
    color:black;
    font-size:45px;
    line-height:1.2;
}
.main .col1 .col1-content div button{
    width:100px;
    height:40px;
    border-radius: 15px;
    border:none;
    outline:none;
    cursor:pointer;
    background-color:black;
    color: white;
}
.main .col2 {
    display: flex;
    align-items: center;
    justify-content:center;
    position: relative;
    right:4%;
    top:-30px
}
.main .col2 .formLogin{
    background-color: white;
    height:auto;
    padding:30px 40px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}
.main .col2 .formLogin .title-login{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size:30px;
    font-weight:600;
}

.main .col2 .formLogin div{
    margin-bottom: 20px;
}
.main .col2 .formLogin div label{
    display: block;
    margin-bottom:10px;
}
.main .col2 .formLogin div input{
    width:270px;
    height:40px;
    border-radius: 15px;
    padding: 10px;
    
    border:1px solid #999;
    outline:none;
}
.main .col2 .formLogin .div_forgotpassword  .forgotpassword{
    width:100%;
    font-size:12px;
    text-decoration: none;
    color: black;
    
    font-weight:300;
    display: flex;
    justify-content: right;

}
.main .col2 .formLogin .btn-login{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main .col2 .formLogin div  button{
    width:83px;
    height:33px;
    border:none;
    outline:0;
    cursor:pointer;
    border-radius: 15px;
    background-color:black;
    color: white;
}
.main .col2 .formLogin .not-account{
    display: flex;
    justify-content: space-around;
}
.main .col2 .formLogin .not-account .register{
    text-decoration: none;
    font-weight: 600;
    COLOR:#00bf7f
} 
